<!--The content below is only a placeholder and can be replaced.-->
<h2 class="col-c mt-3">Your Todos
  <button class="btn btn-sm btn-secondary ml-3"
          type="button"
          (click)="getMock()">Get Mock Data</button>
  <button class="btn btn-sm btn-secondary ml-3"
          type="button"
          (click)="isSelectCompleted = !isSelectCompleted">{{!isSelectCompleted ? 'Get Completed Todos' : 'Get All Todos'}}</button>
</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-12 card">
        <h2 class="col-c mt-3">Normal</h2>
        <div class="col-sm-12 input">
          <input type="text"
                 [(ngModel)]="todo"
                 (keyup.enter)="addTodo()">
          <button class="btn btn-primary ml-1"
                  type="button"
                  (click)="addTodo()">Add</button>
        </div>
        <div class="list">
          <ul>
            <li *ngFor="let todo of (isSelectCompleted ? completedTodos$ : todos$) | async">
              <button class="btn btn-sm btn-danger mr-2"
                      (click)="removeTodo(todo.id)">Remove</button>
              <input type="checkbox"
                     class="mr-1"
                     [(ngModel)]="todo.completed"
                     (ngModelChange)="onChangeTodoStatus($event, todo.id)">
              <span [ngClass]="{'completed' : todo.completed}">{{todo.name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-12 card">
        <h2 class="col-c mt-3">Reactive Form</h2>
        <div class="col-sm-12 input">
          <form [formGroup]="todoForm"
                novalidate
                ngxsForm="todos.todoForm"
                ngxsFormClearOnDestroy="true"
                (ngSubmit)="onSubmit()">
            <input type="text"
                   formControlName="name"
                   (keyup.enter)="onSubmit()">
            <button class="btn btn-primary ml-1"
                    type="submit"
                    [disabled]="!isTodoFormValid">Add</button>
          </form>
        </div>
        <div class="list">
          <ul>
            <li *ngFor="let todo of (isSelectCompleted ? completedTodos$ : todos$) | async">
              <button class="btn btn-sm btn-danger mr-2"
                      (click)="removeTodo(todo.id)">Remove</button>
              <input type="checkbox"
                     class="mr-1"
                     [(ngModel)]="todo.completed"
                     (ngModelChange)="onChangeTodoStatus($event, todo.id)">
              <span [ngClass]="{'completed' : todo.completed}">{{todo.name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-decorator-tutorial></app-decorator-tutorial>

{{completedTodos | json}}
