<!--The content below is only a placeholder and can be replaced.-->
<h2 style="text-align: center;">Your Todos</h2>

<div class="container">
  <div class="row">
    <div style="margin: 0 auto;"
         class="col-sm-6">
      <div class="col-sm-12 input">
        <input type="text"
               [(ngModel)]="todo"
               (keyup.enter)="addTodo()">
        <button class="btn btn-primary ml-1"
                type="button"
                (click)="addTodo()">Add</button>
      </div>
      <div class="list">
        <ul>
          <li *ngFor="let todo of todos$ | async">
            <input type="checkbox"
                   class="mr-1"
                   [(ngModel)]="todo.checked"
                   (ngModelChange)="onChangeTodoCheck($event, todo.id)">
            <span [ngClass]="{'checked' : todo.checked}">{{todo.name}}</span>
            <button class="btn btn-sm btn-danger ml-1"
                    (click)="removeTodo(todo.id)">Remove</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
