.container {
  margin-top: 50px;

  ul {
    list-style: none;
  }

  li {
    margin-top: 10px;
  }

  li:first-child {
    margin-top: 0;
  }
}

.input {
  min-height: 100px;
  text-align: center;

  input {
    margin-top: 10px;
  }

}

.completed {
  text-decoration: line-through;
}

.col-c {
  text-align: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
